
// Background Photo by Jesse Darland on Unsplash

@import 'partials/_setup.scss';
@import 'partials/_variables.scss';
@import 'partials/_typography.scss';

body {
	background: $baseGrey;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

header {
	background: $baseDarkGrey;
	min-height: 100vh;
	text-align: center;
	position: relative;
}

.headerContainer {
	position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.topBar {
	padding-top: 10px;
	text-align: justify;
}

.topBar::after {
	content: '';
	display: inline-block;
	width: 100%;
}

.topBarRight {
	display: inline-block;
}

.topBarLeft {
	display: inline-block;
}

.topBarRight img {
	width: 100px;

}

div.arrowContainer {
	background: $baseGreen;
	display: inline-block;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	text-align: center;
	margin-top: 75px;
	box-shadow: $baseShadow;

}

.arrowContainer i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	text-shadow: $pShadow;
}

.searchBar {
	min-height: 75vh;
	background-image: url('../../assets/jesse-darland-concert.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
	width: 800px;
	height: 250px;
	background: $baseDarkGrey;
	margin: 0 auto;
	text-align: center;
	box-shadow: $baseShadow;
	position: relative;
	transform: translateY(50%);
	padding-top: 25px;
	border-radius: 5px;
}

input[type=text] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	width: 400px;
	height: 75px;
	margin-top: 25px;
	background: $baseGrey;
	border: none;
	box-shadow: $baseShadow;
	border-radius: 5px;
	text-align: center;
	font-family: $openSans;
	color: $baseDarkGrey;
	font-size: 1.5rem;
}

input[type=text]:focus {
	outline: 5px solid $baseGreen;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $openSans;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: $robotoCondensed;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: $robotoCondensed;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: $robotoCondensed;
}

.didYouMean {
	background: $baseDarkGrey;
}

.artistCardContainer {
	text-align: center;
}

.showCard,
.artistCard {
	width: calc((100% / 3) - 10px);
	display: inline-block;
	min-height: 150px;
	border: 1px solid #fff;
	float: left;
	margin-right: 10px;
	border: 3px solid #fff;
	box-shadow: $baseShadow;
	text-align: center;
	margin: 0 auto;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.featherlight-content {
	width: 600px;
	height: 600px;
}

div#mapContainer {
	width: 100%;
	height: 300px;
}

