
/////////////////COLOURS

$baseGreen: #7CCCC1;
$baseDarkGrey: #414042;
$baseGrey: #E6E7E9;
$baseWhite: #FFF;

/////////////////SHADOWS

$baseShadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);

$pShadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);


/////////////////TYPOGRAPHY

$openSans: 'Open Sans', sans-serif;

$robotoCondensed: 'Roboto Condensed', sans-serif;

